node_modules/
.env
src/uploads/*
!src/uploads/.gitkeep
!src/uploads/doctors/
src/uploads/doctors/*
!src/uploads/doctors/.gitkeep
!src/uploads/services/
src/uploads/services/*
!src/uploads/services/.gitkeep
!src/uploads/testimonials/
src/uploads/testimonials/*
!src/uploads/testimonials/.gitkeep
!src/uploads/settings/
src/uploads/settings/*
!src/uploads/settings/.gitkeep
!src/uploads/content/
src/uploads/content/*
!src/uploads/content/.gitkeep
*.log
.DS_Store
